

$White: hsl(0, 0%, 100%); 
$light-white: hsl(222, 38%, 84%);
$slate-1: hsl(202, 86%, 94%); 
$slate-2: hsl(203, 41%, 72%); 
$slate-3: hsl(200, 26%, 54%); 
$slate-4: hsl(200, 24%, 40%); 
$slate-5: hsl(202, 55%, 16%); 
$slate-6: hsl(201, 70%, 8%);

$footer-color1: rgb(19, 48, 64);
$footer-color2: rgb(14, 36, 49);

$btn-color: rgb(250, 204, 21);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


footer{
    border: 2px solid black;
    background-color: $footer-color1;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}


.result-section{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .text-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;


        h4{
            font-size: 2rem;
            letter-spacing: 0.5px;
            color: white;
            font-weight: 700;

        }

        p{
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: 300;
            color: $light-white;
            font-weight: 600;
        }
    }

    .result-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: $footer-color2;
        height: auto;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: none;
        border-top: 2px solid rgb(250, 204, 21);
        border-radius: 5px;

        .result1{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h5{
                font-size: 1.5rem;
                letter-spacing: 0.5px;
                color: $light-white;
                font-weight: 500;
            }

            h3{
                font-size: 3.2rem;
                color: $btn-color;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .result2{
            @extend .result1;

            h3{
                font-weight: 600;
                font-size: 2rem;
                color: white;
            }
        }
    }
}
