html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-right: 5%;
  margin-left: 5%;
}

#calculation-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headings h1 {
  font-size: 2rem;
  letter-spacing: -0.5px;
  color: hsl(202, 55%, 16%);
}
.headings p {
  font-size: 1.2rem;
  text-decoration: underline;
  color: hsl(200, 26%, 54%);
}
.headings p:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputs label {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  color: hsl(200, 26%, 54%);
}
.inputs input {
  width: 100%;
  height: 3rem;
  border: 1px groove hsl(203, 41%, 72%);
  border-radius: 5px;
}
.inputs input:hover {
  cursor: pointer;
  border-bottom: 1.5px groove hsl(200, 24%, 40%);
}

.input-container {
  position: relative;
}
.input-container .prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10%;
  background-color: hsl(202, 86%, 94%);
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: hsl(202, 55%, 16%);
  font-weight: 600;
  margin-right: 5rem;
}
.input-container .prefix-large {
  width: 20%;
}

.inputs-suffix {
  padding-right: 10%;
  padding-left: 0;
}

.radios {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.radios .repayment-radio, .radios .interest-radio {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  border: 1px groove hsl(203, 41%, 72%);
  border-radius: 5px;
  font-size: 1.5rem;
  color: hsl(202, 55%, 16%);
  font-weight: 700;
}
.radios .repayment-radio:hover, .radios .interest-radio:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 224);
  border-color: rgb(233, 233, 9);
}
.interest-rate {
  width: 92%;
}

button {
  height: 4rem;
  width: 100%;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
}

.hidden {
  display: none;
}

footer {
  width: 100vw;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  margin-top: 2rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(202, 55%, 16%);
  color: white;
  padding-bottom: 2rem;
}

#completed-result-section {
  height: auto;
  width: 90%;
}

.result-headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.result-headings h4 {
  margin-bottom: 0.7rem;
  font-size: 2rem;
}
.result-headings p {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: rgb(189, 191, 207);
}

.completed-result-container {
  border: 2px solid black;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  height: auto;
  border: none;
  border-top: hsl(61, 70%, 52%) solid 3px;
  background-color: hsl(201, 70%, 8%);
  border-radius: 5px;
  box-shadow: -5px 3px 10px rgb(28, 29, 34);
}
.completed-result-container hr {
  font-weight: 400;
}
.completed-result-container .container1, .completed-result-container .container2 {
  height: 50%;
}
.completed-result-container .container1 h5, .completed-result-container .container2 h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(189, 191, 207);
}
.completed-result-container .container1 h3, .completed-result-container .container2 h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 800;
  color: hsl(61, 70%, 52%);
}
.completed-result-container .container2 h3 {
  font-size: 2rem;
  color: white;
}/*# sourceMappingURL=style.css.map */