
// Primary Colors 
$primary-color1: hsl(61, 70%, 52%);
$primary-color2: hsl(4, 69%, 50%);

// Neautral Colors
$White: hsl(0, 0%, 100%);
$slate-1: hsl(202, 86%, 94%);
$slate-2: hsl(203, 41%, 72%);
$slate-3: hsl(200, 26%, 54%);
$slate-4: hsl(200, 24%, 40%);
$slate-5: hsl(202, 55%, 16%);

$transix: 1s;

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background-color: $primary-color1;
}

main{
    margin-right: 5%;
    margin-left: 5%;
}

#calculation-section{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headings{

    h1{
        font-size: 2rem;
        letter-spacing: -0.5px;
        color: $slate-5;
    }
    p{
        font-size: 1.2rem;
        text-decoration: underline;
        color: $slate-3;

        &:hover{
            cursor: pointer;
        }
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label{
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        color: $slate-3;

    }

    input{
        width: 100%;
        height: 3rem;
        border: 1px groove $slate-2;
        border-radius: 5px;

        &:hover{
            cursor: pointer;
            border-bottom: 1.5px groove $slate-4;
        }
        // padding-left: 25%;
    }
}


// input .inputs-prefix{
//     padding-left: 15%;
// }
// input .inputs-suffix{
//     padding-right: 15%;
//     box-sizing: border-box;
// }



.input-container{
    // border: 2px solid black;
    position: relative;

    .prefix{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 10%;
        background-color: $slate-1;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: $slate-5;
        font-weight: 600;
        margin-right: 5rem;
        
    }

    // .suffix{
    //    position: absolute;
    //    top: 50%;
    //    transform: translateY(-50%);
    //    right: 0;
    //    width: 10%;
    //    background-color: $slate-1;
    //    height: 90%;
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //    font-size: 2rem;
    //    border-top-right-radius: 5px;
    //    border-bottom-right-radius: 5px;
    //    color: $slate-4;
    // }
    .prefix-large{
        width: 20%;
        
    }
}

.inputs-suffix{
    padding-right: 10%;
    padding-left: 0;
}

.radios{
    // border: 2px solid black;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .repayment-radio{
        width: 100%;
        height: 3.5rem;
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 1rem;
        padding-left: 1rem;
        border: 1px groove $slate-2;
        border-radius: 5px;
        font-size: 1.5rem;
        color: $slate-5;
        font-weight: 700;

        &:hover{
            cursor: pointer;
            background-color: rgba(250, 250, 224);
            border-color: rgb(233, 233, 9);
        }
    }

    .interest-radio{
        @extend .repayment-radio
    }
}

.interest-rate{
    width: 92%;
}

button{
    height: 4rem;
    width: 100%;
    background-color: hsl(61, 70%, 52%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem ;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $slate-5;
}

.hidden{
    display: none;
}

footer{
    width: 100vw;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5rem;
     border: 2px solid black;
}

#completed-result-section{
    height: auto;
    display: flex;
    gap: 2rem;

    .result-headings{
        border: 2px solid black;
    }
}
