


footer{
    width: 100vw;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-top: 2rem;
    // padding-left: 5%;
    // padding-right: 5%;
    // padding-top: 1.5rem;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: $slate-5;
     color: white;
     padding-bottom: 2rem;
}

#completed-result-section{
    height: auto;
    width: 90%;
}

.result-headings{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    h4{
        margin-bottom: 0.7rem;
        // border: 2px solid blue;
        font-size: 2rem;
    }

    p{
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: $light-white;
    }
}


.completed-result-container{
    border: 2px solid black;
    // padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    height: auto;
    border: none;
    border-top: $primary-color1 solid 3px;
    background-color: $slate-6;
    border-radius: 5px;
    box-shadow: -5px 3px 10px rgb(28, 29, 34);

    hr{
        font-weight: 400;
    }

    .container1{
        height: 50%;
        
        h5{
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: $light-white;
        }

        h3{
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            letter-spacing: 1px;
            font-weight: 800;
            color: $primary-color1;
        }
    }

    .container2{
        @extend .container1;

        h3{
            font-size: 2rem;
            color: white;
        }
    }
}
